{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Jane{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-custom.min.css' %}">

    <style>
        a, a:hover, a:active, a:focus {
            color: {{ accent_color }}
        }

        code {
            color: {{ accent_color }};
            background-color: #eeeeee
        }
    </style>

{% block extrahead %}{% endblock %}
{% block extrastyle %}{% endblock %}
</head>

<body style="padding-top: 50px">

{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
     style="background-color: {{ accent_color }}; border-color: {{ accent_color }}; border-radius: 0px">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ instance_name }}</a>
        </div>
        <p class="navbar-text navbar-right">
            Version {{ version }}
            <a style="padding-left: 15px" href="https://github.com/krischer/jane">
                <img height="18px" alt="Brand" src="{% static 'images/GitHub-Mark-Light-120px-plus.png' %}">
            </a>
       </p>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">

    <div class="page-header">
{% block header %}
        <h1>Jane
            <small>Document Database for Seismology</small>
        </h1>
{% endblock %}
    </div>

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Admin Interface</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <dl>
                    <dt>
                        <a href="{{ host }}/admin">Admin</a>
                    </dt>
                    <dd style="padding-left: 30px">
                        Requires permissions
                    </dd>
                </dl>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">FDSN Web Services</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="alert alert-info">
                    Jane implements version 1.1 of all three
                    <a href="http://www.fdsn.org/webservices/">FDSN web
                        services</a>.
                </div>
                <dl>
                    <dt>
                        <a href="{{ host }}/fdsnws/station/1">fdsnws-station</a>
                    </dt>
                    <dd style="padding-left: 30px">
                        For access to station metadata in the FDSN StationXML
                        format
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="{{ host }}/fdsnws/dataselect/1">fdsnws-dataselect</a>
                    </dt>
                    <dd style="padding-left: 30px">
                        For access to time series data in the MiniSEED format.
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="{{ host }}/fdsnws/event/1">fdsnws-event</a>
                    </dt>
                    <dd style="padding-left: 30px">
                        For access to event parameters in the QuakeML format.
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">REST Interface to the Documents and
                Waveforms</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <dl>
                    <dt>
                        <a href="{{ host }}/rest">REST</a>
                    </dt>
                    <dd style="padding-left: 30px">
                        RESTful access to the underlying Documents and
                        Waveforms
                    </dd>
                </dl>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Web GIS</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <dl>
                    <dt>
                        <a href="{% static 'web_gis/index.html' %}">GIS</a>
                    </dt>
                    <dd style="padding-left: 30px">
                        Interactively explore the data on a map.
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Jane Documentation</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <dl>
                    <dt>
                        <a href="{% static 'docs/index.html' %}">Documentation</a>
                    </dt>
                    <dd style="padding-left: 30px">
                        Browse Jane's documentation. If it is not available,
                        execute the <code>build_docs.sh</code> script in the
                        <code>src/</code> directory.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
</div>
{% endblock %}

<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/bootstrap-3.0.3.min.js' %}"></script>
{% block extrajs %}{% endblock %}

</body>
</html>
