{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Administration' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Administration' %}</h1>
{% endblock %}

{% block nav-global %}
    {% if user.is_staff %}
    <a href="{% url 'admin:index' %}" class="ml">Administration</a>
    <a href="{% url 'jane_index' %}" class="ml">Start Page</a>
    {% endif %}
{% endblock %}


{% block extrahead %}
{{ block.super }}
<style type="text/css">
.ml {
    margin: 0 10px 10px;
    display: block;
    float: left;
    clear: right;
}
tr:hover {
    background-color: #ddd;
}
td.original p {
  visibility: hidden
}

.inline-group .tabular tr.has_original td {
    padding-top: 6px;
}
</style>
{% endblock %}