html, body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

#sidebar {
    width: 400px;
    height: 100%;
    float: left;
    border-width: 0px 2px 0px 0px;
    border-color: #888888;
    border-style: solid;
}

#map {
    margin-left: 350px;
    height: 100%;
    background-color: white;
}

#event_tooltip {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip.top .tooltip-arrow {
    border-top-color: #555;
}

.tooltip-inner {
    border: 2px solid #555;
    white-space: pre;
    max-width: none;
}

.event-timepicker > input {
    width: 100%;
    height: 25px;
    font-size: smaller;
}

.sidebar-header {
    margin-top: 5px;
    margin-bottom: 5px;
}

.slider {
    width: 100% !important;
}

.magnitude-label {
    font-size: small;
    font-weight: 900;
    padding: 2px;
}

body .modal-dialog {
    /* new custom width */
    width: 90%;
}