<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close"
                        ng-click="$hide()">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>


            <div class="modal-body" ng-controller="eventDownloadController">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default"
                                    ng-click="download()">
                                <i class="glyphicon glyphicon-download-alt"
                                   aria-hidden="true"></i>
                                Start Download
                            </button>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active"
                                     ng-style="{'width': width + '%'}">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            {{ progress }} of {{ total_count }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        ng-click="$hide()">Close
                </button>
            </div>
        </div>
    </div>
</div>